@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css"> <!-- Inclure le CSS personnalisé -->
</head>
<body>
    <div class="hero-section">
        <h1 class="display-4">Welcome to Gestion des Archives</h1>
        <p>Your solution for efficient archive management</p>
        <a href="@Url.Action("Index", "Conteneur")" class="btn btn-custom btn-lg">Explore Conteneurs</a>
    </div>

    <div class="container text-center">
        <h2 class="my-4">Get Started</h2>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="@Url.Action("Index", "Conteneur")" class="btn btn-custom btn-lg">Conteneur</a>
            </div>
        </div>
    </div>

  

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
